@import "tailwindcss";
@plugin "@iconify/tailwind4";

@custom-variant dark (&:where(.dark, .dark *));
@custom-variant light (&:not(:where(.dark, .dark *)));

@layer base {
	.flex-col, .flex-row, .flex-wrap {
		display: flex;
	}
}

@theme {
	--color-penis-50: light-dark(var(--bg-indigo-200), var(bg--indigo-800));
}

@layer components {
	.button {
		@apply bg-indigo-200 dark:bg-indigo-800
			disabled:bg-indigo-100 disabled:dark:bg-indigo-900
			disabled:text-indigo-900 disabled:dark:text-indigo-100
			hover:bg-indigo-300 hover:dark:bg-indigo-700
			transition-colors ease-in-out
			cursor-pointer disabled:cursor-default
			rounded-xl;
	}

	.float {
		@apply bg-indigo-100/75 dark:bg-indigo-900/75
			backdrop-blur-lg p-2 rounded-xl;
	}

	.skeletonText {
		@apply bg-indigo-700 dark:bg-indigo-200
			animate-pulse rounded-md h-4;
	}
}