@import "tailwindcss";
@plugin "@iconify/tailwind4";

@custom-variant dark (&:where(.dark, .dark *));
@custom-variant light (&:not(:where(.dark, .dark *)));

@layer base {
	.flex-col, .flex-row, .flex-wrap {
		display: flex;
	}
}

@theme {
	--color-app-0: light-dark(var(--color-indigo-50), var(--color-indigo-950));
	--color-app-1: light-dark(var(--color-indigo-100), var(--color-indigo-900));
	--color-app-2: light-dark(var(--color-indigo-200), var(--color-indigo-800));
}

@layer components {
	.button {
		@apply bg-app-2
			disabled:bg-app-1
			disabled:text-indigo-900 disabled:dark:text-indigo-100
			hover:bg-indigo-300 hover:dark:bg-indigo-700
			transition-colors ease-in-out
			cursor-pointer disabled:cursor-default
			rounded-xl;
	}

	.float {
		@apply bg-app-1/75
			backdrop-blur-lg p-2 rounded-xl;
	}

	.skeletonText {
		@apply bg-indigo-700 dark:bg-indigo-200
			animate-pulse rounded-md h-4;
	}
}